.image-stack1-l-container {
    position: absolute;  /* Позиционирование относительно родительского контейнера */
    top: 0;   /* Пример отступа сверху (можно настроить) */
    left: 0;  /* Пример отступа слева (можно настроить) */
    z-index: 1;  /* Если нужно, чтобы блок был над другими изображениями */
  }
  
  
   .hidden {
    opacity: 0;
    visibility: hidden;
   }
  
    @keyframes slideX {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-250%);
    }
  }
  
    image-f.img-2 {
      max-width : 100%;
      max-height: auto;
    }
  
    .slide {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  
    @keyframes disappear {
      0% {
        opacity: 1;
        transform: translate(0, 0) rotate(0);
      }
      100% {
        opacity: 0;
        transform: translate(var(--random-x), var(--random-y)) rotate(var(--random-rotate));
      }
    }
  
    @keyframes appear {
    0% {
      opacity: 0;
      transform: translate(var(--start-x, 0), var(--start-y, 20px)) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
      visibility: visible;
    }
  }
  
    .stacked-image, .stacked-image2, .stacked-image3, .stacked-image4, .stacked-image5 {
      transition: opacity 1s ease, transform 1s ease;
    }
  
    .stacked-image1-r, .stacked-image2-r, .stacked-image3-r {
      opacity: 0; /* Скрыто по умолчанию */
    }
  
    .stacked-image1-l, .stacked-image2-l, .stacked-image3-l {
      opacity: 0; /* Скрыто по умолчанию */
    }
    
    .special-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-3%, -80%);
      width: 41%; /* Ширина контейнера относительно слайда */
      height: auto; /* Высота автоматически подстраивается под содержимое */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .overlay-image {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      top: 5px;
      object-fit: contain;
      border: none;
      border-radius: 0px;
    }
  
    @keyframes slideDown {
    0% {
      transform: translate(-50%, -180%);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -170%);
      opacity: 0;
    }
  }
    @keyframes slideUp1 {
    0% {
      transform: translate(-235%, -240%);
      opacity: 0;
    }
    100% {
      transform: translate(-235%, -250%);
      opacity: 1;
    }
  }
  
  @keyframes slideUp2 {
    0% {
      transform: translate(-50%, -240%);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -250%);
      opacity: 1;
    }
  }
  

  @keyframes growAndFadeIn {
    0% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0); /* Стрелка скрыта */
        opacity: 0;
    }
    10% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0.1); /* Стрелка немного растет */
        opacity: 0.1;
    }
    20% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0.2); /* Стрелка продолжает расти */
        opacity: 0.2;
    }
    30% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0.3); /* Стрелка продолжает расти */
        opacity: 0.3;
    }
    40% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0.4); /* Стрелка растет дальше */
        opacity: 0.4;
    }
    50% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0.5); /* Стрелка наполовину растет */
        opacity: 0.5;
    }
    60% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0.6); /* Стрелка больше растет */
        opacity: 0.6;
    }
    70% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0.7); /* Стрелка продолжает расти */
        opacity: 0.7;
    }
    80% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0.8); /* Стрелка почти до конца растет */
        opacity: 0.8;
    }
    90% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(0.9); /* Стрелка почти полностью видна */
        opacity: 0.9;
    }
    100% {
        transform: translate(-300%, -85%) rotate(341deg) scaleX(1); /* Стрелка полностью видна и растянута */
        opacity: 1;
    }
}
  .special-content .arr-1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-300%, -85%) rotate(341deg) scale(0.8);
        max-width: 80px;
        width: 95%;
        opacity: 0;
  }

    .arr-1.growAndFadeIn {
        animation: growAndFadeIn 1s ease-in-out forwards;
}

  .special-content .text-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    max-width: 150px;
    min-width: 100px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
    .special-content .text-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-235%, -240%);
    max-width: 150px;
    min-width: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .special-content .text-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    max-width: 150px;
    min-width: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
    .image-stack {
      position: absolute;
      top: 53%; /* Центрируем по вертикали */
      left: 63%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Смещаем центр контейнера в точку пересечения */
      max-width: 200px; /* Задаем ширину контейнера */
      width: 4vw;
      min-width: 180px;
      height: 200px; /* Задаем высоту контейнера */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    
    .image-stack2 {
      position: absolute;
      top: 50%; /* Центрируем по вертикали */
      left: 50%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Смещаем центр контейнера в точку пересечения */
      max-width: 200px; /* Задаем ширину контейнера */
      min-width: 60px;
      width: 4vw;
      height: 200px; /* Задаем высоту контейнера */
      display: flex;
      justify-content: center;
      align-items: center;
      animation: rotateImages 4s infinite ease-in-out;
      z-index : 9;
    }
  
    .image-stack3 {
      position: absolute;
      top: 50%; /* Центрируем по вертикали */
      left: 50%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Смещаем центр контейнера в точку пересечения */
      width: 200px; /* Задаем ширину контейнера */
      height: 200px; /* Задаем высоту контейнера */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index : 8;
    }
  
    .image-stack4 {
      position: absolute;
      top: 50%; /* Центрируем по вертикали */
      left: 50%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Смещаем центр контейнера в точку пересечения */
      max-width: 200px; /* Задаем ширину контейнера */
      min-width: 25px;
      max-height: 200px;
      min-height: 100px;
      height: 4vw; 
      width: 4vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index : 7;
    }
    
     .image-stack5 {
      position: absolute;
      top: 50%; /* Центрируем по вертикали */
      left: 50%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Смещаем центр контейнера в точку пересечения */
      max-width: 200px; /* Задаем ширину контейнера */
      height: 200px; /* Задаем высоту контейнера */
      min-width: 10px;
      min-height: 150px;
      height: 2vw; 
      width: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index : 6;
    }
  
    .image-stack1-r {
      position: absolute;
      top: 50%; /* Центрируем по вертикали */
      left: 50%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Смещаем центр контейнера в точку пересечения */
      max-width: 200px; /* Задаем ширину контейнера */
      min-width: 160px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index : 9;
    }
  
    .image-stack2-r {
      position: absolute;
      top: 50%; /* Центрируем по вертикали */
      left: 50%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Смещаем центр контейнера в точку пересечения */
      max-width: 200px; /* Задаем ширину контейнера */
      max-height: 200px; /* Задаем высоту контейнера */
      width: 95%;
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index : 7;
    }
    
    .image-stack3-r {
      position: absolute;
      top: 50%; /* Центрируем по вертикали */
      left: 50%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Смещаем центр контейнера в точку пересечения */
      height: 95%; /* Задаем высоту контейнера */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index : 8;
    }
  
    .image-stack1-l {
      position: absolute;
      top: 60%;
      left: 10%;
      transform: translate(-35%, -55%); /* Смещаем центр контейнера в точку пересечения */
      max-width: 200px; /* Задаем ширину контейнера */
      min-width: 100px;
      height: 200px; /* Задаем высоту контейнера */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index : 9;
    }
  
    .image-stack2-l {
      position: absolute;
      top: 60%;
      left: 10%;
      transform: translate(-50%, -50%); /* Смещаем центр контейнера в точку пересечения */
      max-width: 200px; /* Задаем ширину контейнера */
      max-height: 200px; /* Задаем высоту контейнера */
      width: 20vw;
      height: 10vh;
      min-width: 160px;
      min-height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index : 8;
    }
    
    .image-stack3-l {
      position: absolute;
      top: 60%;
      left: 10%;
      transform: translate(-40%, -60%);
      max-width: 200px;
      max-height: 200px;
      width: 95%;
      height: 10vh;
      min-width: 160px;
      min-height: 150px;
      z-index: 7;
    }
  
  
     .image-f.img-1 {                      
      display: inline-block; /* Для корректного применения transform */
      transition: transform 1s ease-in-out; /* Дополнительный плавный переход */
      position: absolute;       
      max-width: 115px;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */
    }
  
    .image-f.img-2 {
      max-width: 95%;
    }
  
   div.image-stack > img.stacked-image {
      position: relative;
      max-width: 15px;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */
    }
  
    .special-content .stacked-image2 {
      position: relative;
      width: 40px;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */ 
    }
  
    .special-content .stacked-image3 {
      position: relative;
      width: 40px;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */ 
    }
  
    .special-content .stacked-image4 {
      position: relative;
      width: 10px;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */ 
    }
  
    .special-content .stacked-image5 {
      position: relative;
      width: 15px;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */ 
    }
     div.image-stack1-r > img.stacked-image1-r {
      position: relative;
      max-width: 40px;
      width: 3.5vw;
      min-width: 40px;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */ 
    }
  
    div.image-stack2-r > img.stacked-image2-r {
      position: relative;
      max-width: 40px;
      width: 95%;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */ 
    }
  
    .stacked-image3-r {
      position: relative;
      width: 20px;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */ 
    }
  
      div.image-stack1-l > img.stacked-image1-l {
      position: relative;
      transform: translate(-50%, -50%);
      max-width: 40px;
      width: 95%;
      height: auto;
      object-fit: cover;
    } 
    div.image-stack2-l > img.stacked-image2-l {
      max-width: 10px;
      width: 95%;
      position: relative;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */ 
    }
    
    div.image-stack3-l > img.stacked-image3-l {
      max-width: 30px;
      width: 95%;
      position: relative;
      height: auto; /* Высота изображения */
      object-fit: cover; /* Изображение вписывается в контейнер */ 
    }
  
    @keyframes rotateImage {
      0% {
        transform: rotate(0deg); /* Начальный угол */
      }
      100% {
        transform: rotate(360deg); /* Полный поворот на 360 градусов */
      }
    }
  
    .stacked-image3-l.img-1 {
      top: -1%;
      left: 35%;
      --start-x: 50%;
      --start-y: -100%;
    }
  
    .stacked-image3-l.img-2 {
      top: -15%;
      left: 45%;
      --start-x: 50%;
      --start-y: -100%;
    }
  
      .stacked-image3-l.img-3 {
      top: 30%;
      left: 5%;
      --start-x: 50%;
      --start-y: -100%;
    }
  
      .stacked-image3-l.img-4 {
      top: 10%;
      left: 4%;
      --start-x: 50%;
      --start-y: -100%;
    }
  
    .stacked-image2-l.img-1 {
      top: -15%;
      left: 45%;
      --start-x: 50%;
      --start-y: -100%;
  }
    .stacked-image2-l.img-2 {
      top: -10%;
      left: 30%;
      --start-x: 50%;
      --start-y: -100%;
  }
        .stacked-image2-l.img-3 {
      top: 0%;
      left: 8%;
      --start-x: 50%;
      --start-y: -100%;
  }
        .stacked-image2-l.img-4 {
      top: -20%;
      left: 5%;
      --start-x: 50%;
      --start-y: -100%;
  }
        .stacked-image2-l.img-5 {
      top: -22%;
      left: 33%;
      --start-x: 50%;
      --start-y: -100%;
  }
      .stacked-image2-l.img-6 {
      top: -20%;
      left: 10%;
      --start-x: 50%;
      --start-y: -100%;
  }
    .stacked-image2-l.img-7 {
      top: 2%;
      left: 22%;
      --start-x: 50%;
      --start-y: -100%;
  }
  
    .stacked-image1-l.img-1 {
        top: 10%;
        left: 110%;
        --start-x: 50%;
        --start-y: -100%;
    }
  
     .stacked-image1-l.img-2 {
        top: -2%;
        left: 80%;
        --start-x: 50%;
        --start-y: -100%;
    }
  
    .stacked-image1-l.img-3 {
      top: 0%;
      left: 0%;
      --start-x: 50%;
      --start-y: -100%;
    }
  
    div.image-stack1-l > img.stacked-image1-l.img-4 {
      max-width: 25px;
      top: -15%;
      left: -20%;
      --start-x: 50%;
      --start-y: -100%;
  }
    .stacked-image1-l.img-5 {
      top: -20%;
      left: -20%;
      --start-x: 50%;
      --start-y: -100%;
  }
  
    .stacked-image1-r.img-1 {
      top: -10%;
      left: 40%;
      --start-x: 50%;
      --start-y: -100%;
    }
  
    .stacked-image1-r.img-2 {
      top: 0%;
      left: -15%;
      --start-x: -50%;
      --start-y: 100%;
    }
  
    .stacked-image1-r.img-3 {
      top: -6%;
      left: -30%;
      --start-x: -100%;
      --start-y: -50%;
    }
  
    .stacked-image2-r.img-1 {
      top: -18%;
      left: 35%;
      --start-x: 50%;
      --start-y: -100%;
    }
  
    .stacked-image2-r.img-2 {
      top: -17%;
      left: -8%;
      --start-x: -50%;
      --start-y: 100%;
    }
  
    .stacked-image2-r.img-3 {
        width: 30px;
        top: 3%;
        left: -14%;
      --start-x: -100%;
      --start-y: -50%;
    }
  
    .stacked-image3-r.img-1 {
        width: 10px;
        top: -15%;
        left: -14%;
      --start-x: -100%;
      --start-y: -50%;
    }
    
     .stacked-image3-r.img-2 {
        width: 15px;
        top: 10%;
        left: -14%;
      --start-x: -100%;
      --start-y: -50%;
    }
  
     .stacked-image3-r.img-3 {
        width: 10px;
        top: 15%;
        left: -3%;
      --start-x: -100%;
      --start-y: -50%;
    }
  
    .stacked-image5.img-1 {
      top: -20%;
      left: -8%;
      animation: rotateImage 10s linear infinite; /* Плавное вращение */
    }
  
    .stacked-image5.img-2 {
      top: 6%;
      left: 3%;
      animation: rotateImage 12s linear infinite; /* Плавное вращение, может быть другая продолжительность */
    }
  
    .stacked-image5.img-3 {
      top: -9%;
      left: 19%;
      animation: rotateImage 15s linear infinite; /* Плавное вращение */
    }
  
     .stacked-image4.img-1 {
       width : 40px;
       top: -12%;
       left: 0%;
     }
  
      .stacked-image4.img-2 {
       width : 18px;
       top: -6%;
       left: -6%;
     }
  
      .stacked-image4.img-3 {
      width: 18px;
      top: -18%;
      left: 6.5%;
     }
  
    .stacked-image3.img-1 {
       top: 10%;
       left: 20%;
       animation: rotateImage1 4s infinite ease-in-out;
     }
  
    .stacked-image3.img-2 {
       top: -20%;
       left: 6%;
       animation: rotateImage2 4s infinite ease-in-out;
     }
  
    .stacked-image3.img-3 {
       top: -12%;
       left: -8%;
       animation: rotateImage2 4s infinite ease-in-out;
     }
  
     .stacked-image2.img-1 {
        width: 30px;
        top: -6%;
        left: -21%;
       animation: rotateImage1 4s infinite ease-in-out;
     }
  
     .stacked-image2.img-2 {
       top: 6%;
       left: 6%;
       animation: rotateImage2 4s infinite ease-in-out;
     }
  
    .stacked-image.img-1 {
      top: 11%;
      left: -5%;
    }
  
    .stacked-image.img-3 {
      top: 14.5%;
      left: -6%;
    }
  
    .stacked-image.img-4 {
      width: 17px;
      top: 15%;
      left: -6.5%;
    }
  
    .stacked-image.img-5 {
      width: 17px;
      top: 12.5%;
      left: -7.5%;
    }
  
    .stacked-image.img-6 {
      width: 14px;
      top: 7%;
      left: -8.5%;
    }
  
    .stacked-image.img-7 {
      width: 11px;
      top: -1.5%;
      left: -12%;
    }
  
    .stacked-image.img-8 {
      width: 15px;
      top: -11%;
      left: -21%;
    }
  
    .stacked-image.img-9 {
      width: 18px;
      top: -18%;
      left: -36%;
    }
    
     .stacked-image.img-10 {
      width: 12px;
      top: 0;
      left: -76%;
    }
  
  
     @keyframes move {
      0% {
        transform: translate(-50%, -50%) translateX(0) translateY(0);
      }
      50% {
        transform: translate(-50%, -50%) translateX(5px) translateY(5px);
      }
      100% {
        transform: translate(-50%, -50%) translateX(-5px) translateY(-5px);
      }
    }
  
    @keyframes rotateImage1 {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(15deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  
    @keyframes rotateImage2 {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(-15deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  
  @keyframes floatEffect {
    0% {
      transform: translate(0, 0); /* Начальное положение */
      visibility: visible;
      opacity: 1;
    }
    25% {
      transform: translate(4px, 0px); /* Легкое смещение */
      visibility: visible;
      opacity: 1;
    }
    50% {
      transform: translate(0px, -8px); /* Легкое смещение */
      visibility: visible;
      opacity: 1;
    }
    100% {
      transform: translate(0, 0); /* Возврат в исходное положение */
      visibility: visible;
      opacity: 1;
    }
  }
  
  @keyframes floatEffect2 {
    0% {
      transform: translate(0, 0); /* Начальное положение */
      visibility: visible;
      opacity: 1;
    }
    50% {
      transform: translate(7px, 0px); /* Легкое смещение */
      visibility: visible;
      opacity: 1;
    }
    100% {
      transform: translate(0, 0); /* Возврат в исходное положение */
      visibility: visible;
      opacity: 1;
    }
  }
  
  .float2 {
    animation: floatEffect 15s infinite ease-in-out;
  }
  
  .float {
    animation: floatEffect2 15s infinite ease-in-out;
  }
  